{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Log-in{% endblock %}
{% block content %}
<h2>Log-in</h2>
  {% if form.errors %}
  <article class="message is-danger">
    <div class="message-body">
        Your username and password didn't match.
        Please try again.
    </div>
  </article>
  {% else %}
    <p>Please, use the following form to log-in:</p>
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    <div class="columns">
      <div class="column is-one-quarter">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
          {{ field.label_tag }}
          <p class="control">
            {{ field.errors }}
            {{ field|add_class:'input' }}
          </p>
        </div>
        {% endfor %}
        <div class="field">
          <p class="control">
            <input type="submit" value="Log in" class="button is-success">
          </p>
        </div>
      </div>
    </div>
    
  </form>

{% endblock %}