{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
        <div class="columns">
            <div class="column is-one-quarter">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    <p class="control">
                    {{ field.errors }}
                    {{ field|add_class:'input' }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    </p>
                </div>
            {% endfor %}
                <div class="field">
                    <p class="control">
                        <input type="submit" value="Send email" class="button is-success">
                    </p>
                </div>
            </div>
          </div>
        {% csrf_token %}
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}