{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Create Snippet{% endblock %}
{% block content %}
	<h1 class="is-size-1">Create Snippet</h1>
	<hr>
	<form method="post" enctype="multipart/form-data">
		<div class="columns">
			<div class="column is-one-quarter">
				<div class="field">
					<label class="label">Title:</label>
                    <div class="control">
                        {{ form.title|add_class:'input' }}
                    </div>
					<label class="label">Code:</label>
                    <div class="control">
                        {{ form.code|add_class:'textarea' }}
                    </div>
					<label class="label">Line numbers:
						{{ form.linenos|add_class:'checkbox' }}
					</label>
                    <label class="label">Language:</label>
                    <div class="control select">
                        {{ form.language|add_class:'select' }}
                    </div>
					<label class="label">Style:</label>
                    <div class="control select">
                        {{ form.style|add_class:'select' }}
                    </div>
					<label class="label">Tags:</label>
                    <div class="control">
                        {{ form.tags|add_class:'input' }}
						<p class="help">{{ form.tags.help_text|safe }}</p>
                    </div>
				</div>
			</div>
		</div>
		{% csrf_token %}
		<input type="submit" value="Create" class="button">
	</form>
{% endblock %}