{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="field">
                    <label class="label">First name:</label>
                    <div class="control">
                        {{ user_form.first_name|add_class:'input' }}
                    </div>
                    <label class="label">Last name:</label>
                    <div class="control">
                        {{ user_form.last_name|add_class:'input' }}
                    </div>
                    <label class="label">Email:</label>
                    <div class="control">
                        {{ user_form.email|add_class:'input' }}
                    </div>
                    <br>
                    <a href="{% url 'password_change' %}">Change password</a>
                    <hr>

                    <label class="label">Change avatar:</label>
                    <div class="control">
                        {{ profile_form.photo|add_class:'input' }}
                    </div>
                    <label class="label">Bio:</label>
                    <div class="control">
                        {{ profile_form.bio|add_class:'textarea' }}
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button type="submit" class="button is-link">Save Changes</button>
                        <button type="reset" class="button is-link is-light">Reset</button>
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}