{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Create an account{% endblock %}
{% block content %}
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>

    <form method="post">
        <div class="columns">
            <div class="column is-one-quarter">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="field">
                {{ field.label_tag }}
                    <p class="control">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                    {{ field|add_class:'input' }}
                    </p>
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
                <div class="field">
                    <p class="control">
                        <input type="submit" value="Create my account" class="button is-success">
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}